In [23]:
import pandas as pd

train = pd.read_csv('train.csv', encoding='cp949')
test = pd.read_csv('test.csv', encoding='cp949')

In [7]:
train

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
122395,60,2020-08-24 19,4114.368,27.8,2.3,68.0,0.0,0.7,1.0,1.0
122396,60,2020-08-24 20,3975.696,27.3,1.2,71.0,0.0,0.0,1.0,1.0
122397,60,2020-08-24 21,3572.208,27.3,1.8,71.0,0.0,0.0,1.0,1.0
122398,60,2020-08-24 22,3299.184,27.1,1.8,74.0,0.0,0.0,1.0,1.0
122399,60,2020-08-24 23,3204.576,27.1,2.6,75.0,0.0,0.0,1.0,1.0

In [24]:
test

,num,date_time,기온(°C),풍속(m/s),습도(%),"강수량(mm, 6시간)","일조(hr, 3시간)",비전기냉방설비운영,태양광보유
0,1,2020-08-25 00,27.8,1.5,74.0,0.0,0.0,NaN,NaN
1,1,2020-08-25 01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,2020-08-25 02,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,2020-08-25 03,27.3,1.1,78.0,NaN,0.0,NaN,NaN
4,1,2020-08-25 04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
10075,60,2020-08-31 19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10076,60,2020-08-31 20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10077,60,2020-08-31 21,27.9,4.1,68.0,NaN,0.0,1.0,1.0
10078,60,2020-08-31 22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10079,60,2020-08-31 23,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
train.isnull().sum()

num           0
date_time     0
전력사용량(kWh)    0
기온(°C)        0
풍속(m/s)       0
습도(%)         0
강수량(mm)       0
일조(hr)        0
비전기냉방설비운영     0
태양광보유         0
dtype: int64

In [25]:
test.isnull().sum()

num                0
date_time          0
기온(°C)          6720
풍속(m/s)         6720
습도(%)           6720
강수량(mm, 6시간)    8400
일조(hr, 3시간)     6720
비전기냉방설비운영       7784
태양광보유           8456
dtype: int64

In [9]:
train.describe(include='all')

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
count,122400.000000,122400,122400.000000,122400.000000,122400.000000,122400.000000,122400.000000,122400.000000,122400.000000,122400.000000
unique,NaN,2040,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,2020-06-15 22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,30.500000,NaN,2324.830866,24.251713,2.151641,80.169848,0.514989,0.213533,0.683333,0.483333
std,17.318173,NaN,2058.999326,3.407902,1.514475,15.525862,2.624505,0.370517,0.465178,0.499724
min,1.000000,NaN,0.000000,11.100000,0.000000,19.000000,0.000000,0.000000,0.000000,0.000000
25%,15.750000,NaN,1055.268000,21.800000,1.100000,70.000000,0.000000,0.000000,0.000000,0.000000
50%,30.500000,NaN,1700.352000,24.200000,1.900000,84.000000,0.000000,0.000000,1.000000,0.000000
75%,45.250000,NaN,2780.487000,26.500000,2.900000,93.000000,0.000000,0.300000,1.000000,1.000000
max,60.000000,NaN,17739.225000,36.300000,20.100000,100.000000,81.500000,1.000000,1.000000,1.000000

In [17]:
train['비전기냉방설비운영'].value_counts()

1.0    83640
0.0    38760
Name: 비전기냉방설비운영, dtype: int64

In [27]:
train.columns = ['num', 'datetime', 'usage', 'temp', 'wind', 'hum', 'rain', 'sunlight', 'nonelec', 'solar']
test.columns = ['num', 'datetime', 'temp', 'wind', 'hum', 'rain', 'sunlight', 'nonelec', 'solar']

In [19]:
train

,num,datetime,usage,temp,wind,hum,rain,sunlight,nonelec,solar
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
122395,60,2020-08-24 19,4114.368,27.8,2.3,68.0,0.0,0.7,1.0,1.0
122396,60,2020-08-24 20,3975.696,27.3,1.2,71.0,0.0,0.0,1.0,1.0
122397,60,2020-08-24 21,3572.208,27.3,1.8,71.0,0.0,0.0,1.0,1.0
122398,60,2020-08-24 22,3299.184,27.1,1.8,74.0,0.0,0.0,1.0,1.0
122399,60,2020-08-24 23,3204.576,27.1,2.6,75.0,0.0,0.0,1.0,1.0

In [28]:
test

       num       datetime  temp  wind   hum  rain  sunlight  nonelec  solar
0        1  2020-08-25 00  27.8   1.5  74.0   0.0       0.0      NaN    NaN
1        1  2020-08-25 01   NaN   NaN   NaN   NaN       NaN      NaN    NaN
2        1  2020-08-25 02   NaN   NaN   NaN   NaN       NaN      NaN    NaN
3        1  2020-08-25 03  27.3   1.1  78.0   NaN       0.0      NaN    NaN
4        1  2020-08-25 04   NaN   NaN   NaN   NaN       NaN      NaN    NaN
...    ...            ...   ...   ...   ...   ...       ...      ...    ...
10075   60  2020-08-31 19   NaN   NaN   NaN   NaN       NaN      NaN    NaN
10076   60  2020-08-31 20   NaN   NaN   NaN   NaN       NaN      NaN    NaN
10077   60  2020-08-31 21  27.9   4.1  68.0   NaN       0.0      1.0    1.0
10078   60  2020-08-31 22   NaN   NaN   NaN   NaN       NaN      NaN    NaN
10079   60  2020-08-31 23   NaN   NaN   NaN   NaN       NaN      NaN    NaN

[10080 rows x 9 columns]

In [33]:
test.loc[test.temp.isnull(), 'temp'] = test.temp.mean()
test.loc[test.wind.isnull(), 'wind'] = test.wind.mean()
test.loc[test.hum.isnull(), 'hum'] = test.hum.mean()
test.loc[test.rain.isnull(), 'rain'] = test.rain.mean()
test.loc[test.sunlight.isnull(), 'sunlight'] = test.sunlight.mean()

In [39]:
test.nonelec.fillna(value=0, inplace=True)
test.solar.fillna(value=0, inplace=True)

In [40]:
test.isnull().sum()

num         0
datetime    0
temp        0
wind        0
hum         0
rain        0
sunlight    0
nonelec     0
solar       0
dtype: int64

In [20]:
X_train = train.iloc[:, 3:]
y_train = train.usage

In [21]:
X_train

        temp  wind   hum  rain  sunlight  nonelec  solar
0       17.6   2.5  92.0   0.8       0.0      0.0    0.0
1       17.7   2.9  91.0   0.3       0.0      0.0    0.0
2       17.5   3.2  91.0   0.0       0.0      0.0    0.0
3       17.1   3.2  91.0   0.0       0.0      0.0    0.0
4       17.0   3.3  92.0   0.0       0.0      0.0    0.0
...      ...   ...   ...   ...       ...      ...    ...
122395  27.8   2.3  68.0   0.0       0.7      1.0    1.0
122396  27.3   1.2  71.0   0.0       0.0      1.0    1.0
122397  27.3   1.8  71.0   0.0       0.0      1.0    1.0
122398  27.1   1.8  74.0   0.0       0.0      1.0    1.0
122399  27.1   2.6  75.0   0.0       0.0      1.0    1.0

[122400 rows x 7 columns]

In [22]:
y_train

0         8179.056
1         8135.640
2         8107.128
3         8048.808
4         8043.624
            ...
122395    4114.368
122396    3975.696
122397    3572.208
122398    3299.184
122399    3204.576
Name: usage, Length: 122400, dtype: float64

In [41]:
test

,num,datetime,temp,wind,hum,rain,sunlight,nonelec,solar
0,1,2020-08-25 00,27.800000,1.500000,74.000000,0.000000,0.000000,0.0,0.0
1,1,2020-08-25 01,27.805804,2.440327,81.963095,2.191845,0.612917,0.0,0.0
2,1,2020-08-25 02,27.805804,2.440327,81.963095,2.191845,0.612917,0.0,0.0
3,1,2020-08-25 03,27.300000,1.100000,78.000000,2.191845,0.000000,0.0,0.0
4,1,2020-08-25 04,27.805804,2.440327,81.963095,2.191845,0.612917,0.0,0.0
...,...,...,...,...,...,...,...,...,...
10075,60,2020-08-31 19,27.805804,2.440327,81.963095,2.191845,0.612917,0.0,0.0
10076,60,2020-08-31 20,27.805804,2.440327,81.963095,2.191845,0.612917,0.0,0.0
10077,60,2020-08-31 21,27.900000,4.100000,68.000000,2.191845,0.000000,1.0,1.0
10078,60,2020-08-31 22,27.805804,2.440327,81.963095,2.191845,0.612917,0.0,0.0
10079,60,2020-08-31 23,27.805804,2.440327,81.963095,2.191845,0.612917,0.0,0.0

In [43]:
X_test = test.iloc[:, 2:]

In [45]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [48]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [49]:
pred = model.predict(X_test)
pred

array([16489.19641871, 17441.13161613, 17441.13161613, ...,
       16982.00077863, 17441.13161613, 17441.13161613])

In [51]:
sub = pd.read_csv('sample_submission.csv', encoding='cp949')
sub

          num_date_time  answer
0       1 2020-08-25 00       0
1       1 2020-08-25 01       0
2       1 2020-08-25 02       0
3       1 2020-08-25 03       0
4       1 2020-08-25 04       0
...                 ...     ...
10075  60 2020-08-31 19       0
10076  60 2020-08-31 20       0
10077  60 2020-08-31 21       0
10078  60 2020-08-31 22       0
10079  60 2020-08-31 23       0

[10080 rows x 2 columns]

In [52]:
sub['answer'] = pred

In [53]:
sub

          num_date_time        answer
0       1 2020-08-25 00  16489.196419
1       1 2020-08-25 01  17441.131616
2       1 2020-08-25 02  17441.131616
3       1 2020-08-25 03  16628.822563
4       1 2020-08-25 04  17441.131616
...                 ...           ...
10075  60 2020-08-31 19  17441.131616
10076  60 2020-08-31 20  17441.131616
10077  60 2020-08-31 21  16982.000779
10078  60 2020-08-31 22  17441.131616
10079  60 2020-08-31 23  17441.131616

[10080 rows x 2 columns]

In [54]:
sub.to_csv('submission.csv', index=False)